{% extends 'index.html' %}
{% block conteudo %}
    <main>
        <div>
            <form action="{{ url_for('criar_ativo') }}" method="post" enctype="multipart/form-data">
                <h3>Cadastrar Ativos</h3>
                <figure class="img-thmbnail col-md-4">
                    <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo='interrogacao.jpg') }}">
                    <figcaption>
                        <label class="fileContainer">
                            Mudar Capa
                            <input type="file" name="arquivo">
                        </label>
                    </figcaption>
                </figure>
                <div class="form-group">
                    <label for="codigo">Nome do ativo:</label><br>
                    <input type="text" id="codigo" name="codigo"><br>
                </div>
                <div class="form-group">
                    <label for="quantidade">quantidade do ativo:</label><br>
                    <input type="text" id="quantidade" name="quantidade"><br>
                </div>
                <div class="form-group">
                    <label for="preco">preco do ativo:</label><br>
                    <input type="text" id="preco" name="preco"><br>
                </div>
                <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
            </form>
        </div>
    </main>
{% endblock %}