{% extends 'index.html' %}
{% block conteudo %}
    <main>
        <div>
            <h3>Editar Ativos</h3>
            <form class="formularioAtivo" action="{{ url_for('atualizar_ativo') }}" method="post">
                <input type="hidden" name="id" value="{{ id }}">
                {{ form.csrf_token() }}
                <div class="form-group inputBox">
                    {{ form.codigo_ativo.label(class="form-label") }}
                    {{ form.codigo_ativo(class="form-control") }}
                </div>
                <div class="form-group inputBox">
                    {{ form.quantidade.label(class="form-label") }}
                    {{ form.quantidade(class="form-control") }}
                </div>
                <div class="form-group inputBox">
                    {{ form.preco.label(class="form-label") }}
                    {{ form.preco(class="form-control") }}
                </div>
                <div>
                    {{ form.salvar(class="fbtn btn-primary") }}
                </div>
            </form>
            <a class="btn btn-danger" href="{{ url_for('ativos') }}">Voltar</a>
        </div>
    </main>
{% endblock %}