{% extends 'index.html' %}
{% block conteudo %}
    <main>
        <div>
            <form action="{{ url_for('atualizar_ativo') }}" method="post">
                <h3>Editar Ativos</h3>
                <input type="hidden" name="id" value="{{ ativo.id }}">
                <div class="form-group">
                    <label for="codigo">Nome do ativo:</label><br>
                    <input type="text" id="codigo" name="codigo" value="{{ ativo.codigo_ativo }}"><br>
                </div>
                <div class="form-group">
                    <label for="quantidade">quantidade do ativo:</label><br>
                    <input type="text" id="quantidade" name="quantidade" value="{{ ativo.quantidade }}"><br>
                </div>
                <div class="form-group">
                    <label for="preco">preco do ativo:</label><br>
                    <input type="text" id="preco" name="preco" value="{{ ativo.preco }}"><br>
                </div>
                <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
            </form>
        </div>
    </main>
{% endblock %}