{% extends 'index.html' %}
{% block conteudo %}
    <main>
        <div>
            <h3>Login</h3>
            <form action="{{ url_for('autenticar') }}" method="post">
                <label for="username">Nome do usuario:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">senha:</label><br>
                <input type="text" id="password" name="password"><br>
                <button type="submit" class="btn btn-primary btn-logar">logar</button>
            </form>
        </div>
    </main>
{% endblock %}